* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: rgba(10, 99, 187, 0.572);
  color: rgb(236, 238, 245);
  border-bottom: 20px;
  border-color: rgb(236, 238, 245);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: xx-large;
}
header a {
  text-decoration: none;
  color: rgb(236, 238, 245);
}
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: end;
  background-color: rgba(10, 99, 187, 0.572);
  color: rgb(236, 238, 245);
  height: 50px;
  font-size: larger;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 800px;
  background-color: rgb(241, 241, 228);
  background-image: url("../images/Handyman1.jpg");
  background-position: left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: auto;
}
.login-form {
  background-color: rgba(10, 99, 187, 0.572);
  border-style: outset;
  color: rgb(236, 238, 245);
  align-self: center;
  width: 30%;
  line-height: 1.5;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}
.login-form div {
  padding: 10px;
}

.login-form input {
  border-radius: 5px;
  width: auto;
}
.login-form button {
  border-radius: 5px;
  width: 30%;
  font-size: medium;
  background-color: rgb(236, 238, 245);
}

.signup-form {
  background-color: rgba(10, 99, 187, 0.572);
  border-style: outset;
  color: rgb(236, 238, 245);
  align-self: center;
  width: 30%;
  line-height: 1.5;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}
.signup-form div {
  padding: 10px;
}
.signup-form input {
  border-radius: 5px;
  width: auto;
}
.signup-form button {
  border-radius: 5px;
  width: 30%;
  font-size: medium;
  background-color: rgb(236, 238, 245);
}

.user {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(10, 99, 187, 0.572);
  border-color: rgb(236, 238, 245);
  border-bottom: 10px;
  margin-bottom: 10px;
  font-size: medium;
  width: 35%;
  color: rgb(236, 238, 245);
  border-radius: 5px;
  border-color: rgba(240, 248, 255, 0.703);
  border-width: 10px;
}

.ads {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(10, 99, 187, 0.572);
  font-size: medium;
  width: 35%;
  height: 400px;
  color: rgb(236, 238, 245);
  border-radius: 5px;
  border-color: rgba(240, 248, 255, 0.626);
  border-width: 10px;
}

.ads button {
  justify-content: start;
  border-radius: 5px;
  background-color: rgb(236, 238, 245);
  font-size: medium;
  width: 30%;
}
